@import "tailwindcss";
* {
  color: white;
}
.scrollbar::-webkit-scrollbar {
  display: none;
}
.box {
  background-image: url(https://plus.unsplash.com/premium_vector-1732356540932-18564bf0783d?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
}
/* .box img {
  object-fit: cover;
  height: 100%;
  width: 100%;
} */
.main {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border: 2px solid rgba(255, 255, 255, 0.2);
}
input {
  outline: none;
}
